
#chatContainer {
	height: 350px;
	width: 522px;
	float: left;
	margin-left: -45px;
}

#chatBox {
	height: 315px;
	width: 520px;
	background: 333333;
	border: 2px inset black;
	padding: 5px;
	overflow-y: scroll;
}

#chatBoxField {
	width: 468px;
	padding: 5px;
}

.chatName {
	width: 100px;
	float: left;
	padding: 5px;
}

.chatMessage {
	width: 390px;
	float: left;
	padding: 5px;
	overflow-x: hidden;
	border: 1px inset gray;
}