#outterContainer {
	width: 100%;
}

#rowContainer {
	width: 1100px;
	margin: auto;
}

#profileContainer {
	width: 250px;
	height: 350px;
	float: left;
}

#profile {
	width: 200px;
	height: 385px;

	background-color: white;
}