
#rightPanel {
	float: left;
	width: 300px;
	height: 390px;
	margin-left: 5px;
	padding: 5px;
	position: relative;
	margin-top: -4px;

	overflow-y: none;
}

#titleSelect {
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none !important;
	border: 0px thick red;
}

#reddit {
	width: 100%;
	height: 100%;
	position: relative;
}

#redditHeader {
	z-index: 5;
	position: relative;
}

#redditHTML {
	width: 100%;
	height: 340px;
	overflow-y: scroll;
	position: absolute;
	margin-top: -20px;
	z-index: 1;

	font-size: 10pt;
}